ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #ffe4e1;
  border-left: 5px solid #ffb6c1;
  margin-bottom: 2px;
  color: #3e5252;
  border-radius: 5px;
}
ul li:hover {
  background-color: #DB7093;
  color: white;
}
input {
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  color: #3e5252;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: 0 solid transparent;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
input[name = editInput] {
  padding: 8px;
  font-size: 1.3em;
  background-color:transparent;
  color: #3e5252;
}
.heading, input[name = editInput] {
  text-align: center;
  padding: 30px 0;
  color: #3e5252;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
