@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.holder{
  background-color: #F8F8F8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li{
  padding: 20px;
  font-size: 1.3em;
  background-color: #ffe4e1;
  border-left: 5px solid #ffb6c1;
  margin-bottom: 2px;
  color: #3e5252;
  border-radius: 5px;
}

ul li:hover{
  background-color: #DB7093;
  color: white;
}




input{
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  color: #3e5252;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: 0 solid transparent;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

button[name=delete]{
  float: right;
  opacity: 0;
  background-color:transparent;
  color: white;
  border: none;
  outline: 0px solid transparent;
  padding-bottom:10px;

}
button:hover[name=delete] {
  opacity: 1;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffb6c1;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffb6c1;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ffb6c1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button[name=addList] {
  border:none;
  color: #DB7093;
  background-color: #ffe4e1;
  border-radius: 5px;
  float: left;

}

input[name=editInput]{
  padding: 8px;
  font-size: 1.3em;
  background-color:transparent;
  color: #3e5252;
}
.heading, input[name=editInput] {
  text-align: center;
  padding: 30px 0;
  color: #3e5252;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
