input{
  width: 70%;
  border: 0;
  padding: 20px;
  padding-bottom: 5px;
  color: #3e5252;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: 0 solid transparent;
  text-align: center;
  margin-left: 10%;
  margin-top: 50px;
  font-size: 1.3em;
}
button{
  border:none;
  color: #DB7093;
  background-color: #ffe4e1;
  border-radius: 5px;
  float: right;
  width:10%;
  margin-top: 70px;
}
.heading{
  border: 0;
  float: left;
  width:70%;
  border-bottom: 5px solid #ffb6c1;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 10%;
  color: #3e5252;
}
input[name=editInput]{
  border: 0;
  float: left;
  width: 70%;
  border-bottom: 5px solid transparent;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left:10%;
  color: #3e5252;
  outline: 0 solid transparent;
  margin-top: 0;
}

